name: semantic-release

on: 
    push:
        branches:
            - main 

permissions:
  contents: write
  issues: write
  pull-requests: write 

jobs:
    release:
        runs-on: ubuntu-22.04
        steps: 
            - name: Checkout
              uses: action/checkout@v4

            - name: setup Java
              uses: actions/setup-java@v3
              with:
                java-version: 21
                distribution: "temurin"

            - name: Build JAR
              run: sbt assembly

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20
            
            - name: Install semantic-release
              run: npm install -g semantic-release @semantic-release/git @semantic-release/changelog @semantic-release/commit-analyzer @semantic-release/release-notes-generator conventional-changelog-conventionalcommits

            - name: Run semantic-release
              env:
                GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
              run: semantic-release